.mainContainer {
    display: flex;
    border-top: 8px solid #bc566d;

    & *::selection {
        background-color: rgba(159, 197, 232, 0.5);
    }
}

.zoomButtonContainer {
    display: flex;
    flex-direction: column;

    & > * {
        width: 24px;
        height: 24px;
        margin: 0.5rem 0;

        &:hover {
            cursor: pointer;
            transform: scale(1.04);
        }
    }
}
