.yearWrapper {
    display: flex;
    flex-direction: column;

    & > span {
        height: 8px;
        width: 4em;
        transform: translateY(-1em);
    }
}

.experienceWrapper {
    margin-bottom: 1.24rem;
}

.experienceHeader {
    display: flex;
    margin-bottom: 0.24em;
}
