.container {
    display: inline;
    font-family: "Satoshi-Variable", "Roboto", sans-serif;
}

.text {
    &::after {
        content: "_";
        animation: blink 0.7s infinite;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
